@font-face {
 font-family: 'BYekan';
 src: url('../Fonts/BYekan.eot'); /* IE9 Compat Modes */
 src: url('../Fonts/BYekan.eot?#iefix') format('eot'),
     url('../Fonts/BYekan.woff2') format('woff2'),
     url('../Fonts/BYekan.woff') format('woff'),
     url('../Fonts/BYekan.ttf') format('truetype'),
     url('../Fonts/BYekan.otf') format('opentype'),
     url('../Fonts/BYekan.svg') format('svg')
     ;
}